@font-face {
    font-family: 'icomoon';
    src:  url('./icons/icomoon.eot?p34mhy');
    src:  url('./icons/icomoon.eot?p34mhy#iefix') format('embedded-opentype'),
      url('./icons/icomoon.ttf?p34mhy') format('truetype'),
      url('./icons/icomoon.woff?p34mhy') format('woff'),
      url('./icons/icomoon.svg?p34mhy#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-arrow-right2:before {
    content: "\ea3c";
  }
  .icon-arrow-left2:before {
    content: "\ea40";
  }
  