*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f3ff58;
    overflow: hidden;
}

.img-container{
    width: 65%;
    min-height: 80vh;
    background: url("./img/img-1.jpg") center/cover fixed no-repeat;
    border: .5rem solid #fff700;
    border-radius: .5rem;
    position: relative;
    margin: 4rem auto;
    box-shadow: 10px 10px 35px rgba(0,0,0,0.6);
}

.icon-arrow-left2{
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #3b117e;
    color: #fff;
    transform: translate(-50%, -50%);
    border: 0.2rem solid #3cbff8;
    font-size: 1.5rem;
    padding: 15px;
    cursor: pointer;
}

.icon-arrow-right2{
    position: absolute;
    top: 50%;
    right: 0;
    background-color: #3b117e;
    color: #fff;
    transform: translate(50%, -50%);
    border: 0.2rem solid #3cbff8;
    font-size: 1.5rem;
    padding: 15px;
    cursor: pointer;
}