@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #000;
    color: #fff;
}

.wrapper{
    width: 100%;
    height: 100%;
}

.nav{
    padding: 3rem 7rem 0 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav .left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.nav .left h3{
    font-weight: 400;
    padding-right: 10px;
}

.nav .left h2{
    font-weight: 700;
    font-style: italic;
}

.nav .right h2{ 
    font-weight: 600;
    font-size: 18px;
}

.nav .right p{
    font-size: 14px;
}

.intro{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.intro .hero{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 8rem 7rem 0 7rem;
    transform: translateY(100%);
}

.intro .hero .left-hero{
    width: 55%;   
}

.intro .hero .left-hero h1{
    font-size: 3rem;
    font-weight: 500;
    line-height: 70px;
}

.intro .hero .right-hero{
    width: 40%;
    padding-bottom: 10px;
}

img{
    width: 100%;
    height: 100%;
}

.slider{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #18181a;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

