@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,::after,::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif ;
}

/* body,html{
    display: grid;
    min-height: 100%;
    place-items: center;
} */


body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eff4f5;
}

.card{
    width: 600px;
    height: 350px;
    box-shadow: 10px 10px 15px rgb(192, 183, 183),-10px -10px 15px white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.name{
    font-size: 3rem;
}

#counterValue{
    font-size: 5rem;
    margin-bottom: 1rem;
}

.prevBtn, .nextBtn, .resetBtn{
    font-size: 1.3rem;
    outline: none;
    padding: 0.7rem 1.5rem;
    margin: 0 2rem;
    cursor: pointer;
}